<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncapdevi.sample">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="39a360e01c4e2920e28fbf4eac1929a3" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="생축"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAwUNmQ0W6h0nIXZXS31VEzu4Nuv51qxhA" />

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.BottomTabsActivity">

        </activity>
        <activity android:name=".activities.startActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>